
/*RESET
---------------------------------------*/
*{
	margin: 0px;
	padding: 0px;
	
}

#pagination li{
	-webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

html{
	background-color:
}

body{
	font-family: "Trebuchet MS",Arial, Helvetica, sans-serif;
	color: #fff;
	background: url(../images/bg.jpg);
}

.wrapper{
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}

ul li{
	list-style: none;
}

a{
	text-decoration: none;
}

/*HEADER
---------------------------------------------------*/
#header{
	margin-top: 20px;
	overflow: hidden;
}

#logo{
	float: left;
}

#top{
	float: right;
	font-size: 2.2 em;
}

#top a{
	color: #fff;
	font-size: 2 em;
	border-right: 1px solid #fff;
	padding-right: 5px;
	text-decoration: underline;
}

#top a:last-child{
	border: none;
}

#top a#message{
	background: url(../images/comment.png) no-repeat;
	padding-left: 17px;
}

#top a#logout{
	background: url(../images/user_logout.png) no-repeat;
	padding-left: 17px;
}

#main-nav {
	margin-top: 50px;
	height: 40px;
	line-height: 40px;
	background: #555;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}


#main-nav ul {

}

#main-nav ul li{
	display: inline;
	
}

#main-nav ul li a{
	color: #fff;
	text-transform: uppercase;
	padding-left: 25px;
}

/*CONTENT
----------------------------------------------------*/
#content{
	overflow:hidden;
	padding: 15px;
	border: 1px solid #555;
}

#sidebar{
	float: left;
	margin-right: 5px;
	width: 165px;
}

#sidebar h3{
	background: #8f8c8c;
	margin-top:0px;
	color: #fff;
	text-align: center;
	height: 40px;
	line-height: 40px;
	margin-bottom:0px;
}

#sidebar ul{
	margin-bottom:0px;
}

#main-content h3{
	margin-top:0px;
}

#cat{
	margin-bottom: 20px;
}

#cat, #add-product{
	border: 1px solid #8f8c8c;
}

#cat ul li a, #add-product ul li a{
	color: #000;
	padding: 5px;
}

#cat ul li, #add-product ul li{
	/* margin: 10px 0px; */
	border-bottom: 1px dotted #8f8c8c;
	padding: 10px;
} 
#cat ul li:last-child, #add-product ul li:last-child{
	border: none;
}

#cat ul li:hover , #add-product ul li:hover{
	background: #8f8c8c;
	font-weight: bold;
}

#main-content {
	float: right;
	width: 785px;
	overflow: hidden;
}

#main-content h3{
	margin-bottom: 18px;
	text-transform: uppercase;
}

/*table*/
#book  {
/*     width: 100%; */
    border-collapse: collapse;
	
}
#member{
	padding-right: 35px;
}
#member h3{
	margin-bottom: 20px;
}

#mb{
	width: 100%;
	border-collapse: collapse;
}

#feedback{
	margin-right: 35px;
}

#fdID, #fbDel{
	width: 100px;
}

#fbEmail, #fbContent{
	width: auto;
}

#book td, #book th , #mb td, #mb th, #category td, #category th, #feedback td, #feedback th{
    font-size: 1em;
    border: 1px solid  #8f8c8c;
    padding: 3px 7px 2px 7px;
}

#book th , #mb th, #category th, #feedback th{
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color:  #8f8c8c;
    color: #ffffff;
}

#book tr.alt td , #mb tr.alt td{
    color: #000000;
    background: #F1F1F1;
}

#book td, #mb td, #feedback td{
	color: #000;
}

#del, #add,  #delete, #add_mb, #pagination {
	float: right;
}

#del, #add, #delete, #add_mb{
	display: block;
	height: 30px;
	width: 100px;
	border-radius: 10px;
	color: #fff;
	margin: 15px 5px;
	text-align: center;
	padding-top: 5px;
}

#del:hover, #delete:hover, #add:hover, #add_mb:hover{
	text-decoration: underline;
	font-weight: bold;
}

#del, #delete{
	background: #9f9999;
}

#add, #add_mb{
	background: #fa6b6b;
}

#pagination{
	margin-top: 70px;
}

#pagination li{
	display: inline-block;
	height: 15px;
	width: auto;
	border: 1px solid #8f8c8c;
	background-color:  #fff;
	padding: 0px 5px 5px 5px;
	
}
#pagination li.active-pag{
	background-color:  #8f8c8c;
}

#pagination a{
	color: #000;
}

#footer{
	height: 30px;
}


/*CATEGORY BACKEND
-------------------------------------------------------------*/
#category{
	margin-top: 20px;
}

#category #id, #category #edit, #category #catDel{
	width: 50px;
}

#category #catName{
	witth: auto;
}

